
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="~/Content/all.css" rel="stylesheet">
    <link href="~/Content/clean-blog.css" rel="stylesheet">
    <link href="~/Content/fontawesome.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BLOG GROUP 4", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a class="btn btn-secondary dropdown-toggle" href="Home/Index">Home</a></li>
                    <li>
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <ul>
                                @foreach (var category in ViewBag.ListCate)
                                {
                                <li>  <a href="Home/searchByCategory/@category.ID">@category.name</a></li>
                                }
                            </ul>
                            </div>
                    </li>
                    <li><a class="btn btn-secondary dropdown-toggle" href="Home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="sidebar left">
            @foreach (var category in ViewBag.ListCate)
            {
                <div>
                    <a href="Home/searchByCategory/@category.ID">@category.name</a>
                </div>
            }
        </div>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Blogs Group 4</p>
        </footer>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/clean-blog.js")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
