@model Blog.Models.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/web_admin/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Bạn có chắc muốn xóa blog không?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thumbnail)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Quay lại", "Index", "Blog", new { }, new { @class = "btn btn-default " })
        </div>
    }
</div>
