@model List<Blog.Models.Blog>

@{
    ViewBag.Title = "Danh sách blog";
}

@foreach (var blog in Model)
{
    <article class="entry">
        <header class="entry__header">
            <h2 class="entry__title h1">
                <a href="/Home/Detail/@blog.ID" title="@blog.title">@blog.title</a>
            </h2>
            <div class="entry__meta">
                <ul>
                    <li>@blog.create_at</li>
                    <li><a href="#" title="" rel="category tag">@blog.create_by</a></li>
                </ul>
            </div>
        </header>
        <div class="entry__content">
            <p>
                @Html.Raw(blog.contents)
            </p>
        </div>
        <div class="entry__meta">
            <i class="fa fa-comments-o"></i> Comments(3)
        </div>
    </article>
}