@model List<Blog.Models.Blog>

@{
    ViewBag.Title = "Danh sách blog";
}

@foreach (var blog in Model)
{
    <article class="entry">
        <header class="entry__header">
            <h2 class="entry__title h1">
                <a href="/Home/Detail/@blog.ID" title="@blog.title">@blog.title</a>
            </h2>
            <div class="entry__meta">
                <ul>
                    <li><a href="#" title="" rel="category tag">Tác giả: @blog.User.full_name</a></li>
                </ul>
            </div>
        </header>
        <div class="entry__content" style="max-height: 200px; overflow: hidden; text-overflow: inherit;">
            <p>
                @Html.Raw(blog.contents)
            </p>
        </div>
        <div>@blog.create_at</div>
        <hr />
    </article>
}