@model Blog.Models.User

@{
    ViewBag.Title = "Tạo người dung";
    Layout = "~/Areas/web_admin/Views/Shared/_Layout.cshtml";
}
<div class="masonry-item">
    <div class="bgc-white p-20 bd">

        @using (Html.BeginForm("Create", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Tạo người dung</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.full_name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.full_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.password,  new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.ConfirmPassword,  new { @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Thêm mới" class="btn btn-success" />
                    @Html.ActionLink("Quay lại", "Index", "User", new { }, new { @class = "btn btn-default " })
                </div>
            </div>

        </div>
        }
    </div>
</div>