@model Blog.Models.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/web_admin/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc muốn xóa người dùng?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_at)
        </dd>

    </dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Quay lại", "Index", "User", new { }, new { @class = "btn btn-default " })
        </div>
    }
</div>
