@model List<Blog.Models.Category>

@{
    ViewBag.Title = "Danh sách thể loại";
    Layout = "~/Areas/web_admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["Msg"]</div>
    }
    <div class="row pL-15">
        <h4 class="c-grey-900 mT-10 mB-30">@ViewBag.Title</h4>
        @Html.ActionLink("Tạo mới", "Create", "Category", new { }, new { @class = "btn btn-success mT-10 mB-30 mL-30" })
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => category.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => category.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => category.create_at)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = category.ID }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = category.ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

